.section-catalogue {

  &__container {
    width: 100%;
    background-color: lightsteelblue;
    height: 3000px;
  }

  &__item {
    margin: auto;
    width: 300px;
    height: 500px;
    margin-bottom: 20px;
    background-color: lightgray;
  }
}
